* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 36px;
  font-family: "Castoro", serif;
}

p {
  font-size: 18px;
}

#chart {
  flex: 7 0;
  height: 100vh;
}

#legend {
  width: 60%;
  margin-left:0px;
  margin-top:10px;
}

.tooltip {
    position: absolute;
    left: 50px;
    top: 66%;
    max-width: 30%;
    border-radius: 10px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-size: 14pt;
    color: white;
    background-color:rgb(63, 11, 123);
    padding: 15px;
    pointer-events: none;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'PT sans', sans-serif;
  margin: 0;
  background-color: #fffaf3;
  /* background-color: white; */
  color: #505050;
}


#container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main side";
  flex-direction: row;
  display: flex;
}

#main {
      display: inline-block;
      padding-left: 50px;
      padding-top: 40px;;
      height:auto;
      vertical-align: top;
      text-align:left;
      box-sizing: border-box;
      flex: 3 0;
    }
/*
#chart {
  width: 80%;
  padding-left: 50px;
  padding-top: 30px;;
  height:auto;
  vertical-align: top;
  text-align:left;
  box-sizing: border-box;
  flex: 1 0 70%;
}*/