/* disable horizontal scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#intro {
    position: absolute;
    display: inline-block;
    width:40%;
    height:auto;
    margin-left: 100px;
    /* margin-left: auto; */
    margin-top: 50px;
    margin-right: auto;
    text-anchor: middle;
    text-align:left;
}

.body {
    color: black ;
    font-family: roboto;
    position: relative;
}

.container {
    display:inline-block;
    width:40%;
    height:auto;
    /* margin-left: 100px; */
    margin-left: 10px;
    margin-top: 50px;
    margin-right: auto;
    text-anchor: middle;
    text-align:left;
}

.buttons {
    display:inline-block;
}

.maps {
    display:inline-block;
}

.religionClass {
    display: inline-block;
    font-family: roboto;
    color: black;
    /* margin-left: 10%;  */
    margin-left: 50%; 
    margin-right: 0px; 
    margin-top: 10px;
}

/* Button colors */
   .C1 {
       fill:red
   }

   .C2 {
       fill: green
   }

   .C3 {
       fill:orange
   }

   .C4 {
       fill:lightskyblue
   }

   .C5 {
       fill: purple
   }

   .C6 {
       fill: grey
   }


 /* #outer{
        background:rgb(255, 255, 255);
    } */
    
   /* P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
} */

/* h1  {
    color: black;
    font-family: roboto; 
    font-size:30px; 
    margin:0;} */

    /* h1#second-title {
        color:grey
    } */

/* .title{
    width: 20%
} */

/* .column { display: inline-block; width: 50%; white-space: normal; }
.container { white-space: nowrap; }
.column_1 { display: inline-block; width: 50%; white-space: normal; } */